<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>BMI Demo</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.2/css/bulma.min.css">
    
</head>

<body>
    <section class="section" id="bmiform">
        <h1 class="title has-text-centered">Encrypted BMI Calculator Demo</h1>
        <div class="container">
            <form action="" class="form" @submit.prevent="handleSubmit">
                    <div class="field">
                        <label class="label">Email</label>
                        <input required class="input" type="email" name="" id="" v-model="bmiData.email">
                    </div>
                    <div class="field">
                        <label for="" class="label">Height (cms)</label>
                        <input required class="input" type="number" name="" id="" v-model="height">
                    </div>
                    <div class="field">
                        <label for="" class="label">Weight (kg)</label>
                        <input required type="number" class="input" v-model="weight">
                    </div>
                    <button type="submit" class="button" :class="{'is-loading':encrypting}">Submit </button> 
                    <div class="field" :class="{'is-hidden':!encrypting}">
                        <p>Encrypting...</p>
                    </div>
                    
            </form>
        </div>
        <hr>
        <div class="container">
            <h1 class="subtitle">Database</h1>
                <table class="table">
                        <thead>
                            <tr>
                                <th>Email</th>
                                <th>Underweight</th>
                                <th>Normal</th>
                                <th>Overweight</th>
                                <th>Obese</th>
                            </tr>
                        </thead>
                        <tbody>
                            {%verbatim%}
                            <tr v-for="entry in records">
                                <td>{{entry.email}}</td>
                                <td>{{entry.underweight.substring(0,20)}}...</td>
                                <td>{{entry.normal.substring(0,20)}}...</td>
                                <td>{{entry.overweight.substring(0,20)}}...</td>
                                <td>{{entry.obese.substring(0,20)}}...</td>
                            </tr>
                            {%endverbatim%}
                        </tbody>
            
                </table>
            </div>
            <hr>
            <div class="container">
                <h1 class="subtitle">
                    Aggregate, Decrypt and Analyse
                </h1>
                <button class="button is-info" :class="{'is-loading':decrypting}" @click="getResult()">
                        View Result
                </button>
               <div class="columns">
                   <div class="column">
                        <p><p :class="{'is-hidden': !decrypting}">Decrypting Results...</p></p>
                   </div>
               </div>
                
                
            </div>
            <div class="container" :class="{'is-hidden' : !showGraph}">
                    <div class="columns is-centered">
                            <div class="column is-half">
                                    <canvas id="myChart" width="400" height="400"></canvas>
                            </div>
                    </div>
            </div>
    </section>
    <script src="/static/jsbn/jsbn.js"></script>
    <script src="/static/jsbn/jsbn2.js"></script>
    <script src="/static/jsbn/prng4.js"></script>
    <script src="/static/jsbn/rng.js"></script>
    <script src="/static/axios.min.js"></script>
    <script src="/static/paillier.js"></script>     
    <script src="https://cdn.jsdelivr.net/npm/js-cookie@2/src/js.cookie.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.3/Chart.bundle.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="/static/canvasjs.min.js"></script>
    <script>
        var publicKey;

        async function getPublicKey (capsule = "https://dev.medblocks.org/api/capsule/") {
            if (!publicKey) {
                let response = await axios.get(capsule+"publicKey/");
                let n = response.data.n;
                publicKey = new paillier.publicKey(1024, new BigInteger(n));
                return publicKey;
            }
            else {
                return publicKey;
            }
        }

        async function encrypt (number) {
            let pk = await getPublicKey();
            let encrypted = pk.encrypt(nbv(number));
            return encrypted;
        };
    </script>
    <script>
    
    function createChart(data){   
        var ctx = document.getElementById("myChart").getContext('2d');
        Chart.defaults.global.defaultFontSize = 14;
        //Chart.defaults.global.defaultFontFamily = 'BlinkMacSystemFont,-apple-system,"Segoe UI",Roboto,Oxygen,Ubuntu,Cantarell,"Fira Sans","Droid Sans","Helvetica Neue",Helvetica,Arial,sans-serif'
        var myChart = new Chart(ctx, {
            type: 'bar',
            data: {
                labels: ["Underweight", "Normal", "Overweight", "Obese"],
                datasets: [{
                    data: data,
                    backgroundColor: [
                        'rgba(54, 162, 235, 0.2)',
                        'rgba(75, 192, 192, 0.2)',
                        'rgba(255, 206, 86, 0.2)',
                        'rgba(255, 99, 132, 0.2)',
                    ],
                    borderWidth: 1
                }]
            },
            options: {
                scales: {
                    scaleOverride : true,
                    scaleSteps : 10,
                    scaleStepWidth : 50,
                    scaleStartValue : 0,
                    yAxes: [{
                        ticks: {
                            min: 0,
                            suggestedMax: 5,
                            stepSize: 1
                        },
                        scaleLabel: {
                        display: true,
                        labelString: 'Number of people'
                            }
                    }],
                    xAxes: [{
                        gridLines: {
                            display: false
                        },
                        scaleLabel: {
                        display: true,
                        labelString: 'BMI Categories'
                            }
                    }]
                },
                legend: {
                    display: false
                }
            }
});
    }
        new Vue({
            el:'#bmiform',
            data: {
                height: '',
                weight:'',
                bmiData:{
                    email: '',
                    underweight: '',
                    normal: '',
                    overweight: '',
                    obese: ''
                },
                result: '',
                records: '',
                encrypting: false,
                decrypting: false,
                showGraph: true
            },
            async mounted() {
                await this.getRecords();
                createChart([0,0,0,0])
            },
            methods: {
                async getRecords() {
                    r = await axios.get('bmi/')
                    data = r['data']
                    this.records = data
                },
                async getResult() {
                    this.decrypting = true
                    this.showGraph = true;
                    r = await axios.get('aggregate/')
                    data = r['data']
                    this.result = data
                    this.decrypting = false
                    data = this.result.data
                    createChart([data.underweight, data.normal, data.overweight, data.obese])
                },
                async handleSubmit() {
                    // loading UI
                    this.encrypting = true
                    // initialize with 0 in all categories
                    this.bmiData.underweight = await encrypt(0);
                    this.bmiData.normal = await encrypt(0);
                    this.bmiData.overweight = await encrypt(0);
                    this.bmiData.obese = await encrypt(0);

                    // Calculate and categorize bmi
                    bmi = this.weight/((this.height/100)*(this.height/100))
                    if (bmi < 18) {
                        this.bmiData.underweight = await encrypt(1)
                    }
                    if (bmi >= 18 && bmi <=25) {
                        this.bmiData.normal = await encrypt(1)
                    }

                    if (bmi > 25 && bmi <30) {
                        this.bmiData.overweight = await encrypt(1)
                    }

                    if (bmi >= 30){
                        this.bmiData.obese = await encrypt(1)
                    }
                    
                    this.bmiData.underweight = this.bmiData.underweight.toString()
                    this.bmiData.normal = this.bmiData.normal.toString()
                    this.bmiData.overweight = this.bmiData.overweight.toString()
                    this.bmiData.obese = this.bmiData.obese.toString()
                    axios.post(
                        'bmi/',
                        this.bmiData
                    )
                    .then(r=>{
                        this.height = ''
                        this.weight = ''
                        this.bmiData = {
                            email: '',
                            underweight: '',
                            normal: '',
                            overweight: '',
                            obese: ''
                            }
                    })
                    .then(r=>{this.getRecords(); this.encrypting = false})
                }
            }
        }
        )
    </script>
</body>
</html>